.navbar.main {
  z-index: 30 !important;
  padding-right: 15px;
  // background: $red;
  // @include navbarGradient(#16aea4,#48b1bf);
  // @include heroGradient(#4ca9da,#31338f);
  @include heroGradient(#4ca9da, darken(#4ca9da, 20%));
  // background: linear-gradient(to right,#4ca9da,#31338f);
}

.navbar-menu.is-active {
  width: 50% !important;
  position: absolute;
  right: 0 !important;
}

.navbar.is-light-blue .navbar-item.has-dropdown:focus .navbar-link,
.navbar.is-light-blue .navbar-item.has-dropdown:hover .navbar-link,
.navbar.is-light-blue .navbar-item.has-dropdown.is-active .navbar-link {
  background-color: transparent !important;
}

.main-navbar {

  // background: $red;
  .navbar-item {
    font-family: $roboto;
    text-transform: uppercase;

    &.is-active:not(.hover-text) {
      background: linear-gradient(90deg, rgb(206, 176, 77), rgb(229, 226, 55));
      font-weight: bolder;
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
    }

    &.is-active.hover-text {
      background-color: transparent !important;

      .mdi {
        color: $warning;
      }

      span[data-toggle="text"] {
        display: block !important;

        background: linear-gradient(90deg, rgb(206, 176, 77), rgb(229, 226, 55));
        font-weight: bolder;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
      }
    }
  }
}

.navbar-burger {
  cursor: pointer;
}

@media only screen and (max-width: 480px) {
  .navbar {
    margin-bottom: 20px;
  }

  .navbar-end {
    padding-top: 10px;
    margin-top: 10px;
    border-top-color: $danger;
    border-top-width: 2px;
    border-top-style: solid;
  }
}