.pindex-table-container {
    display: grid;
    grid-template-columns: 70% 1fr;
    &.map-table-reuse {
        grid-template-columns: 45% 1fr;
        .add-green-border {
            border-right: solid 2px darkseagreen !important;
        }
        .has-warning-approval {
            background-color: lighten($warning, 20%) !important;
            cursor: pointer;
        }
        .is-underutilize {
            font-weight: bolder !important;
            color: $danger !important;
        }
    }
    .pindex-table-right {
        width: 100%;
        overflow-x: scroll;
        .fetch-is-timeout-wrapper {
            text-align: center;
            background-color: $grey-lighter;
            height: 100%;
            padding: 2.5rem 1rem;
            cursor: pointer;
            .sticky {
                position: -webkit-sticky;
                position: sticky;
            }
        }
    }
    th {
        height: 27px !important;
        text-align: center;
        font-size: .8em;
    }
    td {
        height: 25px !important;
        font-size: .75em !important;
    }
    .has-border-right-bold {
        border-right-color: $grey;
        border-right-style: outset;
        border-right-width: 2px !important;
    }
    tr {
        td:first-child>span.mdi-toggle-folder {
            margin: 0px !important;
            &::before {
                content: "\F76F";
            }
        }
        &.is-folded {
            td:first-child>span.mdi-toggle-folder::before {
                content: "\F24B";
            }
        }
    }
    tr.is-hover {
        background-color: #cbe5f6 !important;
    }
    .is-double-decker {
        height: 54px !important;
        vertical-align: middle;
    }
    .is-triple-decker {
        height: 81.5px !important;
        vertical-align: middle;
    }
    // &.add-max-height {
    // 	max-height: calc(100vh - 175px);
    // 	overflow-y: scroll;
    // }
    @each $name,
    $level in $levelPadding {
        .is-level-#{$name} {
            padding-left: nth($level, 1) !important;
            &.has-children {
                padding-left: nth($level, 2) !important;
            }
        }
    }
    .is-parent {
        background-color: darken($light, 5%);
    }
    .is-task-name {
        width: 350px;
        max-width: 350px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-decoration: none !important;
        cursor: pointer;
    }
    .is-fall-behind {
        color: $danger;
        cursor: pointer;
        font-weight: bold;
        background-color: lighten($danger, 30%);
    }
    .is-fall-behind-warning {
        color: $danger;
        cursor: pointer;
        font-weight: bold;
        background-color: lighten($warning, 5%);
    }
    .mdi.mdi-folder-open,
    .mdi.mdi-folder,
    .mdi.mdi-file-outline {
        margin: 0px !important;
    }
}

.modal-card-pIndex {
    max-height: 540px !important;
    overflow-y: hidden !important;
    .member-list {
        overflow-y: scroll !important;
        max-height: 450px;
    }
    .info-card-pIndex {
        border-bottom-color: $grey-lighter;
        border-bottom-style: solid;
        border-bottom-width: 1px;
    }
    .last-activity {
        .activity-toggle {
            color: $grey;
            cursor: pointer;
            font-size: .85rem !important;
            &>span.toggle-chevron {
                margin: 0px !important;
                &::before {
                    content: "\F142";
                }
            }
        }
        .activity-detail {
            padding: 0px 1em;
            font-size: .85rem !important;
            display: none;
        }
        &.is-active {
            .activity-toggle>span.toggle-chevron {
                margin: 0px !important;
                &::before {
                    content: "\F140";
                }
            }
            .activity-detail {
                display: block;
            }
        }
    }
}

@media screen and (min-width: 1024px) and (max-width: 1359px) {
    .pindex-table-container {
        grid-template-columns: 65% 1fr;
        .is-task-name {
            width: 200px;
            max-width: 200px;
        }
    }
}

@media screen and (min-width: 1360px) and (max-width: 1399px) {
    .pindex-table-container {
        grid-template-columns: 75% 1fr;
        .is-task-name {
            width: 500px;
            max-width: 500px;
        }
    }
}

@media screen and (min-width: 1400px) and (max-width: 1679px) {
    .pindex-table-container {
        grid-template-columns: 70% 1fr;
        .is-task-name {
            width: 500px;
            max-width: 500px;
        }
    }
}

@media screen and (min-width: 1680px) {
    .pindex-table-container {
        grid-template-columns: 60% 1fr;
        .is-task-name {
            width: 500px;
            max-width: 500px;
        }
    }
}