// Font Import from google Font
@import url('https://fonts.googleapis.com/css?family=Crete+Round|Roboto+Condensed|Raleway:400,800|Staatliches&display=swap');

$roboto: 'Roboto Condensed', sans-serif !important;
$crete: 'Crete Round', serif !important;
$staat: 'Staatliches', cursive !important;

$p_font: $roboto;
$h1_font: $staat;
$h2_font: $crete;

// Set your colors
// $primary: rgb(221, 15, 86);
$primary: hsl(0, 0%, 48%);
$twitter: #4099FF;
$twitter-invert: findColorInvert($twitter);
$pink: rgb(250, 129, 150);
$cream: #fffefc;
$red : #dd1912;
$grey: #DFDFDF;
$grey2: #e6e6e6;
$light-blue: #4ca9da;
$blue: #31338f;
$light-green: #16aea4;
$light-green-sidebar: #EBFDFB;
$black2: #202124;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
	"pink": (rgb(250, 129, 150), $white),
	"grey": (grey, $white),
	"grey2": ($grey2, $white),
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "link": ($link, $link-invert), 
	"info": ($info, $info-invert), 
	"success": ($success, $success-invert), 
	"warning": ($warning, $warning-invert), 
	"danger": ($danger, $danger-invert),
	"red": ($red, $white),
	"blue": ($blue, $white),
	"light-blue": ($light-blue, $white),
	"light-green": ($light-green, $white),
	"light-green-sidebar": ($light-green-sidebar, $white),
	"black2": ($black2, $white),
);

$lightBG: (
	"pink": rgb(250, 129, 150) 15% 40%,
    "primary": $primary 20% 40%,
    "link": $link 20% 40%,
	"info": $info 20% 40%,
	"success": $success 20% 40%,
	"warning": $warning 20% 40%,
	"danger": $danger 20% 30%,
);

$heroBold: (
	"pink": linear-gradient(90deg, rgb(183, 84, 203),rgb(232, 47, 180)),
	"light": linear-gradient(90deg, $light,#cfcfdf),
	"dark": linear-gradient(90deg, $dark,rgb(85, 85, 85)),
	"danger": linear-gradient(45deg, rgb(221, 15, 86),rgb(198, 192, 66)),
	"warning": linear-gradient(90deg, rgb(245, 220, 59),rgb(231, 184, 96)),
	"info": linear-gradient(90deg, rgb(113, 136, 223),rgb(17, 213, 207)),
	"success": linear-gradient(135deg, rgb(174, 243, 64),rgb(76, 165, 108))
);

$progress-stacked-size: (
	"small": .75rem .5rem,
	"normal":  1.25rem .75rem,
	"medium": 1.5rem 1rem,
	"large": 1.75rem 1.25rem
);

$spacing: (
	"xsmall": 0.5em,
	"card": 1.25em,
	"small": 1em,
	"normal": 2em,
	"medium": 3em,
	"large": 3.5em,
	"extra-large" : 7em
);

$brand-sizes: (
	"small": 1em -.5px,
	"medium": 2em -.75px,
	"large": 3em -1px
);

$levelPadding: (
	"1": calc(1em + 15px) 1em,
	"2": calc(2em + 15px) 2em,
	"3": calc(3em + 15px) 3em,
	"4": calc(4em + 15px) 4em,
	"5": calc(5em + 15px) 5em,
	"6": calc(6em + 15px) 6em,
	"7": calc(7em + 15px) 7em,
	"8": calc(8em + 15px) 8em,
	"9": calc(9em + 15px) 9em,
	"10": calc(10em + 15px) 10em,
	"11": calc(11em + 15px) 11em,
	"12": calc(12em + 15px) 12em,
	"13": calc(13em + 15px) 13em,
	"14": calc(14em + 15px) 14em,
	"15": calc(15em + 15px) 15em,
);

// set sizes
$size-1: 1.5rem;
$tablet: 719px;
$section-padding: 1.8rem ;
$panel-heading-size: 1rem;
$section-padding-medium: 9rem 3rem;
$section-padding-large: 18rem 3rem;

$table-striped-row-even-background-color: lighten($light, 2%);
$table-striped-row-even-hover-background-color: lighten($info, 35%);
$table-row-hover-background-color: lighten($info, 35%);

$checkbox-active-background-color: $info;
$checkbox-checkmark-color: $info-invert;
$success-light: #effaf3;
$warning-light: #fffbeb;

$panel-shadow: none;
