@import url('https://fonts.googleapis.com/css?family=Crete+Round|DM+Serif+Text|Roboto+Condensed&display=swap');
@import "../../node_modules/bulma/sass/utilities/_all";

$p_font: 'Roboto Condensed', sans-serif;
$h1_font: 'Crete Round', serif;
$h2_font: 'DM Serif Text', serif;

// Color Style Variable
$primary: #D36464;
$link: $link;
$info: $info;

// .registerPage {
//     background-image: url('http://localhost:2001/media/background-login.png') !important;
// }