// Font Import from google Font
@import url('https://fonts.googleapis.com/css?family=Crete+Round|DM+Serif+Text|Roboto+Condensed&display=swap');
@import "../../node_modules/bulma/sass/utilities/_all";

$p_font: 'Roboto Condensed', sans-serif;
$h1_font: 'Crete Round', serif;
$h2_font: 'DM Serif Text', serif;

// Color Style Variable
$primary: #D36464;
$link: $link;
$info: $info;

.prouds-logo {
	width: 40%;
	margin-top: 15px;
}

.logo-telkomsigma {
	position: fixed;
	bottom: 10px;
	width: 150px !important;
	height: 40px !important;
	right: 10px;
}

.con-alert {
	position: fixed;
	top: 0px;
	width: 100% - 10%;
	margin: 1% 5%;
	padding: 10px 15px;
}

.loginPage {
	display: grid;
	grid-template-columns: 1.5fr 0.5fr;
	width: 100%;
	height: 100vh;
	justify-items: center;
	background-color: lighten($primary, 5%);

	section {
		align-self: center;
		width: 70%;

		&.banner {
			background-size: cover;
			background-position-x: center;
			background-blend-mode: color-burn;
			margin: 0px;
			height: 100%;
			width: 100%;

			display: grid;
			grid-template-rows: 1fr 45px;
			justify-items: center;

			.welcoming {
				align-self: center;
				width: 100%;
				display: grid;

				h1 {
					$sizing: 7em;

					font-family: $h2_font;
					text-align: center;
					font-size: $sizing;
					line-height: ($sizing + 1em) / 10;
					margin: 0px;
					margin-top: 10px;
				}

				p {
					font-family: $p_font;
					text-align: center;
					font-size: 1.5em;
					margin-bottom: 0px;
					color: #333;
					font-weight: bold;
					text-shadow: 2px 2px lighten(gray, 20%);

					&.sub-title {
						font-size: 1em;
					}
				}
			}

			.banner-footer {
				align-self: end;
				background-color: lighten($warning, 10%);
				width: 100%;
				text-align: center;
				padding: 7px;
				font-weight: bold;
			}
		}
	}
}

@media only screen and (max-width: 770px) {
	.loginPage {
		grid-template-columns: 1.3fr 0.7fr;
	}

	.prouds-logo {
		width: 70%;
	}
}

@media only screen and (max-width: 480px) {
	.loginPage {
		grid-template-columns: 1fr;
		grid-template-rows: 140px 1fr;

		section.banner {
			grid-template-rows: 1fr 50px;

			.banner-footer {
				font-size: 12px;
			}
		}
	}

	.prouds-logo {
		width: 70%;
		margin-top: 35px;
	}

	.login-form {
		margin-bottom: 30px;
	}
}