// @charset "utf-8";
@import "../../node_modules/bulma/sass/utilities/_all";

// Mixins ---------------------------------------------
@import "mixins/gradient";
@import "mixins/text";

// Font Import from google Font
@import url('https://fonts.googleapis.com/css?family=Crete+Round|DM+Serif+Text|Roboto+Condensed&display=swap');

$roboto: 'Roboto Condensed', sans-serif !important;
$crete: 'Crete Round', serif !important;
$dmserif: 'DM Serif Text', serif, !important;

$p_font: $roboto;
$h1_font: $crete;
$h2_font: $dmserif;

// Set your colors
$primary: #D36464;
$primary-invert: findColorInvert($primary);
$twitter: #4099FF;
$twitter-invert: findColorInvert($twitter);
$pink: rgb(250, 129, 150);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
	"pink": (rgb(250, 129, 150), $white),
	"grey": (grey, $white),
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert),
    "twitter": ($twitter, $twitter-invert)
);

$tablet: 719px;

// NAVBAR ----------------------------------------------

.navbar {
	margin-bottom: 10px;
}

.navbar-item {
	font-family: $roboto;
	text-transform: uppercase;
}

.navbar-burger {
	cursor: pointer;
}

@media only screen and (max-width: 480px) {
	.navbar {
		margin-bottom: 20px;
	}

	.navbar-end {
		padding-top: 10px;
		margin-top: 10px;
		border-top-color: $primary;
		border-top-width: 2px;
		border-top-style: solid;
	}
}

// ----------------------------------------------
// LAYOUT STYLING


// ----------------------------------------------
// LOADER Styling

.loader-wrapper {
	width: 100%;
	height: 100vh;
	display: grid;
	align-content: center;
	justify-content: center;
	position: fixed;
	z-index: 100;

	background: linear-gradient(135deg, rgba(237, 53, 115, 0.7), rgba(245, 177, 77, 0.7));

	img {
		width: 200px;
		padding-bottom:50px;
		opacity: 0.7;
	}
}

// ----------------------------------------------

body {
	font-family: $roboto;
	margin-top: 0px !important;

	&.add-margin{
		margin-top:62px !important;
	}
}

.input {
	box-shadow: 4px 3px 3px rgba(10, 10, 10, 0.1);
}

.button:hover {
	opacity: .9;
}

.button, .input{
	border-radius: 0px;
}

.mdi {
	margin-left: 5px;
	margin-right: 5px;

	&.in-right {
		margin-right: 0px;
	}

	&.in-left {
		margin-left: 0px;
	}
}

section.info {
	padding: 28px 32px;
	font-family: $roboto;
}

section.main-content {
	padding: 32px 32px;
}

section.activity {
	padding: 18px 32px;

	& > .content {
		margin-top: 1em;
	}
}

.column.is-section {
	padding: 0px;
	min-height: calc(100vh - 52px);

	&.is-sidebar {
		background-color: $light;
		min-width: 240px;
		max-width: 250px;

		.menu {
			.menu-label {
				font-size: 16px;
				text-align: center;
			}

			.menu-list a {
				color: $dark;
				padding: 0.75em;
				.icon {
					margin-right: 10px;
				}

				&:hover {
					color: $dark;
				}
			}
		}
	}
}

@each $color in $colors {
	.menu.is-#{nth($color, 1)} a.is-active {
		$thisColor: nth($color, 2);
		$primeColor: nth($thisColor, 1);
		$textColor: nth($thisColor, 2);

		@include heroGradient($primeColor, darken($primeColor, 20%));
		color: $light !important;
	}
}

.profile-user {
	width: 100%;
	height: 185px;
	overflow: hidden;
}

.button.is-list {
	text-align: left;
	display: block;
}

.project-list {
	li {
		margin-bottom: 5px;
	}
}

.box.is-level-widget {
	min-width: 150px;
	width: 100%;
}

.b-table {
	.level:not(.top) {
        padding-bottom: 0px !important;
	}	
}

.b-checkbox.checkbox:not(.have-padding) .control-label {
	padding-left: 0px !important;
}

[disabled] {
	background-color: lighten(#a5a5a5, 10%) !important;
	border-color: lighten(#a5a5a5, 10%) !important;
}

.hero.is-bold {
	@each $color in $colors {
		&.is-#{nth($color, 1)} {
			$thisColor: nth($color, 2);
			$primeColor: nth($thisColor, 1);
			$textColor: nth($thisColor, 2);

			@include heroGradient($primeColor, darken($primeColor, 20%));
			color: $warning;
		}
	}
}

.navbar {
	&.is-primary {
		@include navbarGradient($primary, darken($primary, 10%));

		a.navbar-item:hover {
			background: linear-gradient(45deg, rgba(221, 15, 86, 0.3),rgba(198, 192, 66, 0.3));
		}

		a.navbar-item.is-active {
			background: linear-gradient(45deg, rgba(243, 192, 134, 0.4),rgba(247, 226, 188, 0.4))
		}
	}
}

.message.is-modal {
	height: 100vh;

	.message-body {
		overflow-y:scroll;
		height: calc(100% - 56px);
	}
}

.is-packed > .table-wrapper > .table {
	td {
		padding: 5px 0.75em !important;
		vertical-align: middle;
	}
}

.level.sub-nav {

	@each $color in $colors {
		&.is-#{nth($color, 1)} {
			$thisColor: nth($color, 2);
			$primeColor: nth($thisColor, 1);
			$textColor: nth($thisColor, 2);

			@include gradientMagic($primeColor);
			color: $textColor;
		}
	}

	padding: 0.75em;
	border-radius: 5px;
}

p.heading.is-normal {
	font-size: 1em;
	margin-bottom: 0px;
}

.is-checked > .checkbox-cell {
	.check {
		background-color: $info !important;
    	border-color: $info !important;
	}
}

.checkbox-cell {
	.b-checkbox:hover > .check {
		border-color: $info !important;
	}
}

p.help.is-success {
	color: darken($success, 15%);
	font-weight: 500;
}

.hero.is-sidebar {
	display: grid;
	align-content: center;
	justify-content: center;
	padding-left: 12px;
	padding-right: 12px;

	.hero-body {
		padding-top: 25px;
		padding-bottom: 25px;
	}
}

.card.table-summary-plan {
	margin-bottom: 28px;

	.card-header {
		border-bottom: 1px solid #dbdbdb;
	}

	tr th:not(:first-child), tr td:not(:first-child) {
		border-left: 1px solid #dbdbdb;
	}

	tr {
		th {
			background-color: lighten($grey, 45%);
			vertical-align: middle;
			text-align: center;
		}

		td {
			padding: 7px;
		}

		td:not(:first-child) {
			text-align: right;
		}

		td.is-plan, th.is-plan {
			background-color: lighten($info, 40%) !important;
			&.inner {
				background-color: lighten($info, 45%) !important;
			}
			color: $dark;
			border-color: #cacaca;
		}

		td.is-actual, th.is-actual {
			background-color: lighten($success, 40%) !important;
			&.inner {
				background-color: lighten($success, 48%) !important;
			}
			color: $dark;
			border-color: #cacaca;
		}
	}

	tfoot {
		td {
			font-weight: bold;
		}
	}
}

.card {
	.b-table {
		.table.is-narrow {
			th {
				padding: 0.5em 0.75em !important;
			}
		}

		.top {
			margin: 15px !important;
		}
	}
}

.b-table.is-loading {
    margin-bottom: 50px !important;
}

.gmainright {
	width: 30% !important;
	// margin-bottom: 43px !important;
}
.gmainleft {
	width: 70% !important;

	.gcontainercol {
		min-width: 100%;

		table {
			min-width: 100%;
		}
	}

	// .gspanning.gtaskname  {
	// 	padding: 1px !important;
	// 	vertical-align: middle;
	// }
}

// .gtaskname div {
// 	padding: 5px !important;
// 	font-size: 12px !important;
// }

td.gmajorheading div{
	padding: 5px !important;
}

// td.gspanning div {
// 	padding: 9px !important;
// }

.gantt td {
	// font-size: 11px;
	padding: 2px !important;
}

tr.gname {
	cursor: pointer !important;
}

.card {
	.card-header {
		@include heroGradient($light, darken($light, 20%));
	}

	&.collapse {
		.card-header .icon {
			color: $light !important;
		}

		.card-footer {
			padding: 8px 12px;

			.button {
				min-width: 95px;
			}

			.button-right {
				float: right !important;

				& > .button:first-child {
					margin-right: 5px;
				}
			}
		}

		td {
			vertical-align: middle;
			height: 42px !important;
		}

		td.is-days-has-input {
			width: 150px;

			input.input {
				text-align: center !important;

				&::-webkit-inner-spin-button, 
				&::-webkit-outer-spin-button {  
					opacity: 1;
				}
			}
		}
	}
}

@each $color in $colors {
	$thisColor: nth($color, 2);
	$primeColor: nth($thisColor, 1);

	.has-gradient-#{nth($color, 1)} {
		@include heroGradient($primeColor, darken($primeColor, 20%));
	}

	.has-underline-#{nth($color, 1)} {
		border-bottom: 1.7px solid $primeColor;
	}

	.has-gradient-#{nth($color, 1)}-lighter {
		@include heroGradient(lighten($primeColor, 20%), lighten($primeColor, 10%));
	}

	.message {
		&.has-media-list {
			.media + .media {
				padding-top: 1rem !important;
				border-top: 1px solid $dark !important;
			}
		}

		&.is-#{nth($color, 1)} {
			@include heroGradient(lighten($primeColor, 35%), lighten($primeColor, 20%));

			.message-header {
				@include heroGradient(lighten($primeColor, 15%), lighten($primeColor, 5%));
				color: nth($thisColor, 2) !important;
				font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
			}

			.message-header + .message-body {
				background-color: lighten($primeColor, 75%);
				border-width: 0px 2px 2px !important;
				border-color: lighten($primeColor, 10%);
			}

			&.has-media-list {
				.media + .media {
					padding-top: 1rem !important;
					border-top: 1px solid $primeColor !important;
				}
			}
		}

		&.is-on-field .message-body{
			padding: 0.4em 1em !important;
		}

		&.has-paddingless-body .message-body{
			padding: 0px !important;
		}
	}

	.field.is-#{nth($color, 1)} {
		.input, .select > select {
			border-color: $primeColor !important;
		}

		.select:not(.is-multiple):not(.is-loading)::after {
			border-color: darken($primeColor, 15%) !important;
		}

		.control > .icon {
			color: $primeColor !important;
		}
	}
}

.datepicker .datepicker-content {
    height: auto !important;
}

#is-alert-message.is-hidden {
	display: none !important;
}

.centerajah {
	margin: auto;
	width: 75%;
	padding: 10px;  
}

.card-header-icon {
	.icon {
		color: $light;
	}

	&:hover .icon {
		color: $dark !important;
	}
}

tr.gname {
	td {
		vertical-align: middle;
	}

	&.is-active {
		td {
			background-color: rgb(194, 212, 247);
		}
	}
}

.modal.had-max-width {
	.modal-content {
		max-width: 650px !important;
	}
}

.menu.is-workplan-task-menu {
	.menu-label {
		margin: 0px !important;
		padding: 5px 0px;
		text-align: center;
		background-color: lighten($warning, 15%);
		color: $dark;
	}

	.menu-label + .menu-list {
		background-color: lighten($warning, 25%);

		a.is-active {
			background-color: $light;
			color: $dark;
		}

		a:hover {
			background-color: lighten($warning, 30%);
		}
	}
}

.dropdown.is-small {
	.dropdown-menu {
		min-width: 8rem !important;
	}
}

.searchFilter {
	@include noSelect;
	cursor: pointer;

	&.is-active {
		background-color: lighten($info, 35%);
	}
}

p.is-low-bottom {
	margin-bottom: 0.5em !important;
}

p.has-top-margin {
	margin-top: 1em !important;
}

@import "~bulma";
@import "~buefy/src/scss/buefy";