// Prouds text logo branding
@mixin brand($size, $spacing, $invert: false, $font: false) {
  font-weight: bolder;
  font-size: $size;
  letter-spacing: $spacing;

  @if $font {
    font-family: $font;
  }

  @else {
    font-family: 'Raleway', 'Roboto Condensed', sans-serif;
  }

  @if $invert {
    background: linear-gradient(0deg, $grey-light, ghostwhite);
  }

  @else {
    // background: linear-gradient(0deg, #16aea4, #92FE9D);
    // background: linear-gradient(0deg, #20e3b2, #16aea4);
    // background: linear-gradient(0deg, #4ca9da, #31338f);
    background: #4ca9da;
    // background: linear-gradient(0deg, rgb(238, 4, 44), rgb(202, 203, 40));
  }

  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

// Disable text block
@mixin noSelect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}